# @IDrive Inc
# Created By  : Sabin Cheruvattil
# Modified By : Senthil Pandian


[Unit]
Description=Regular background program processing daemon
Documentation=man:__APP__cron(8)

[Service]
ExecStart=__LAUNCHPATH__
IgnoreSIGPIPE=false
KillMode=process
PIDFile=/var/run/__APP__cron.pid

[Install]
WantedBy=multi-user.target
