# @IDrive Inc
# Created By : Sabin Cheruvattil

[Unit]
Description=__APP__ Scheduler
After=local-fs.target multi-user.target

[Service]
Type=simple
TimeoutSec=10
ExecStart=__LAUNCHPATH__
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
